.navbar {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 4rem;
  background: antiquewhite;
  color: white;
}

.navbar ul {
  list-style: none;
  display: none;
}

.overlay ul {
  list-style: none;
}
.overlay {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
}

.overlay.active {
  opacity: 1;
}

@media (min-width: 768px) {
  .navbar ul {
    display: flex;
  }
  .overlay {
    display: none;
    opacity: 0;
  }
}
